<div class="card mb-3 shadow rounded border-danger" *ngIf="canal.id > 1">
    <div class="card-header font-weight-bold">
        Edition/Suppression un canal
    </div>
    <div class="card-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <label for="nom">[ {{ canal.id }} - {{ canal.nom }} ]</label>
                    <input class="form-control" type="hidden" id="id" value="{{ canal.id }}"
                        [formControl]="formEditCanal.controls.id">
                    <input class="form-control" type="text" id="nom" [(ngModel)]="canal.nom"
                        [formControl]="formEditCanal.controls.nom">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-outline-success" type="submit"
                        (click)="updateCanal()">Modifier</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-outline-warning" type="submit" (click)="deleteCanal()">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>