<div class="card mb-3 shadow rounded border-primary">
    <div class="card-header font-weight-bold">
        Liste des utilisateurs
    </div>
    <div class="card-body">
        <div class="col-sm-12">
            <table class="table table-hover" *ngIf="utilisateurs.length; else noUtilisateurMessage">
                <tbody>
                    <tr *ngFor=" let utilisateur of utilisateurs; let i=index">
                        <td>
                            <div class="d-grid gap-2">

                                <button class="btn btn-secondary" (click)="choiceUtilisateur(utilisateur.id)">
                                    {{ utilisateur?.id }} - {{ utilisateur?.nom }}
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ng-template #noUtilisateurMessage>
                <div>
                    Aucun utilisateur dans la base de données
                </div>
            </ng-template>
        </div>
    </div>
</div>