<div class="card mb-3 shadow rounded">
    <div class="card-header font-weight-bold bg-local-message-titre-head">
      Messages
    </div>
    <div class="card-body bg-local-message-titre message-container"  *ngIf="messages.length; else noMessage">

      <div class="col-sm-12" *ngFor="let message of messages">

        <div class="card mb-3 shadow rounded">
          <div class="card-header font-weight-bold bg-local-message-head">
            <strong>{{message.utilisateur.login}}</strong> - {{message.datecreation | date : 'HH:mm le dd MMMM YYYY'}}
          </div>
          <div class="card-body bg-local-message">
            {{message.corps}}
          </div>
        </div>
      </div>
    </div>
    <ng-template #noMessage>
        <div>
            Aucun Message dans la base de données
        </div>
    </ng-template>
  </div>